<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Friendly Bakery</title>
   <link rel="stylesheet" href="home.css">
</head>
<body>
  <h1>Friendly bakery</h1>
  <div class='about_Us'>
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class='muffin_Top'>
    <h2> <a href='muffins'>Delicious Muffin Top</a></h2>
  </div>
  <div class='cakes'>
    <h2><a href='cakes'>Yummy cakes (ft. cheesecake)</a></h2>
  </div> 
  <div class='cookies'>
    <h2><a href='cookies'>Contagous cookies</a></h2>
    
  </div> 
</body>
</html>