<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Friendly Bakery</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Friendly bakery</h1>
  <div class='about_Us'>
    
  </div>
  <div class='muffin_Top'>
    <h2>Delicious Cookies</h2>
  </div>
  <div class='cakes'>
    <h2>Yummy cakes (ft. cheesecake)</h2>
  </div> 
  <div class='cookies'>
    <h2>Contagest cookies</h2>
    
  </div> 
</body>
</html>