*{
	padding: 0px;
	margin:0px;
}

html{
	background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/zblwSNT/cookies-falling-down-on-white-background_vfgywntvg__F0000.png') no-repeat center center fixed;
	background-size: cover;
}