*{
  padding: 0px;
  margin: 0px;
}

html{
  background: url('https://st2.depositphotos.com/5927262/10514/i/950/depositphotos_105149916-stock-photo-tasty-cookies-and-muffins-cakes.jpg') no-repeat center center fixed;
  background-size: cover;
}

h1{
  text-align: center;
}

.about_Us{
  background: url('https://st2.depositphotos.com/5927262/10515/i/950/depositphotos_105150154-stock-photo-tasty-cookies-and-muffins-cakes.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 45%;
  text-align: center;
}

.muffin_Top{
  background: url('https://stmed.net/sites/default/files/muffin-wallpapers-28276-2302095.jpg') no-repeat center;
  background-size: cover;
  object-fit: cover;
  height: 45%;
  text-align: center;
  vertical-align: middle;
}

.cakes{
  background: url('http://images6.fanpop.com/image/photos/38800000/Chocolate-Cake-chocolate-38862079-1920-1200.jpg') no-repeat center;
  background-size: cover;
  height: 45%;
  text-align: center;
}

.cookies{
  background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/zblwSNT/cookies-falling-down-on-white-background_vfgywntvg__F0000.png') no-repeat center center ;
  background-size: cover;
  height: 45%;
  text-align: center;
}
